.scrolling-wrapper{
    overflow-x: auto;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'system-ui';
}

h1{
    font-weight: 800;
    font-size: 3em;
}

.subtitle{
    font-size: 1.25em;
    opacity: 0.65;
}

.card-block{
    height: 400px;
    background-color: #fff;
    border: none;
}