.scrolling-wrapper{
    overflow-x: auto;
}

.card-block{
    height: 400px;
    width: 390px;
    background-color: #fff;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}

.jumbotron{
    background-image: url('http://placehold.jp/006699/cccc00/150x100.png');
    background-size: cover;
    height: 40%;
    text-align:Center;
}

#sticky-footer {
    flex-shrink: none;
}

.feedback {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

#mybutton {
    position: fixed;
    bottom: 10px;
    right: 15px;
}

.header input {
    padding: 13px;
    width: 60%;
    border: 2px solid #000;
}
.header {
    margin-top: 100px;
    font-size: 20px;
    width: 100%;
    padding: 6% 18%;
}

