.scrolling-wrapper{
    overflow-x: auto;
}

.card-block{
    height: 400px;
    width: 390px;
    background-color: #fff;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
}

.jumbotron{
    background-image: url('http://placehold.jp/006699/cccc00/150x100.png');
    background-size: cover;
    height: 40%;
    text-align:Center;
}

