<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen">
</head>
<body>
<div class="topnav">
    <a class="active" href="home">Home</a>
    <a href="signup">Sign up</a>
    <a href="login">Login</a>
    <a href="about">About us</a>
</div>

<form action="action_page.php" method="post">
    <div class="imgcontainer">
        <img src="/images/idea.png" th:src="@{/images/idea.png}" alt="Login" class="avatar">
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <br>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>

</body>
</html>