<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>EMarket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/productView.css" type="text/css" media="screen">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">EMarket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product">Post an Ad</a>
            </li>

            <div sec:authorize="!isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="signup">Register</a>
                    </div>
                </li>
            </div>

            <li class="nav-item">
                <a class="nav-link" href="about">About EMarket</a>
            </li>

            <div sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="dashboard">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="favorite">Favorite</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="listedproduct">Listed Product</a>
                    </div>
                </li>
            </div>

            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                </li>

            </div>

        </ul>
    </div>
</nav>
<br>

<div class="text-center"><h3><span th:text=" ${#request.getParameter('success')}"></span></h3></div>

<br>

<div class="container">
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img th:src="${product.imagename}" class="card-img-top" alt="..." >
                    </div>
                    <div class="flip-box-back">
                        <img th:src="${product.imagename}" class="card-img-top" alt="..." >
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body">
                <h5 class="card-title"><h5 th:text="${product.name}"></h5></h5>
                <p class="card-text"><p th:text="'Price: $'+${product.price}"> </p></p>
                <div class="row">
                    <div sec:authorize="isAuthenticated()">
                        <form method="post" th:action="@{/addFavorite}">
                            <button type="submit" class="btn btn-success"  th:name="action" th:value="${product.id}">Add to Favorite</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Here, is the product description.</p>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Seller Infromation</h5>
                <p class="card-text" th:text="${seller.firstname}"></p>
                <p class="card-text">Phone Number: 000-000-0000</p>

                <div class="container">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Contact</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Contact Form</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Form to contact the seller.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Contact</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Review</h5>
                    <div th:each="comment : ${comments}" >
                        <div class="row">
                            <p class="card-text" th:text="${comment.description}"></p>
                        </div>
                        <div class="row">
                            <p class="card-text" th:text="${comment.username}"></p>
                        </div>
                        <div class="row">
                            <p class="card-text" th:text="${comment.created}"></p>
                        </div>
                        <br>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-cmnt-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form class="form-inline" method="post" th:action="@{/savecomment}" th:object="${commentBean}">
                        <textarea th:field="*{description}" placeholder="Write your comment here!" class="pb-cmnt-textarea" required="required"></textarea>
                        <button class="btn btn-primary pull-right" type="submit" th:name="action" th:value="${product.id}">Share</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>